.hero-slider {
    width: 100%;
    height: 500px; /* Adjust height as needed */
    overflow: hidden;
}

.hero-slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    /* transition: background-image 0.5s ease-in-out; */
    /* animation: zoom 10s infinite alternate; */
}

.hero-slide.active {
    opacity: 1;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}
